<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Geolocation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header color="secondary">
      <ion-card-title>{{address()}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-margin-top">
      <div id="map"></div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="font-size: .8rem;">
      Lat: {{ lat | number:'1.4-4' }} <br />
      Longitude: {{ long | number:'1.4-4' }}
    </ion-title>
  </ion-toolbar>
</ion-footer>
